<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro</title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <section class="form-register">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingresa tu nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingresa tu apellido">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingresa tu correo">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingresa tu contraseña">
    <p>Estoy de acuerdo con <a href="#">Términos y Condiciones</a></p>
    <input class="botons" type="submit" value="Registrar">
    <p><a href="#">¿Ya tengo Cuenta?</a></p>
  </section>

  </body>
</html>